.productList__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.productItem__wrapper {
  max-width: 270px;
  margin-right: 20px;
  margin-bottom: 40px;
  &:last-child {
    margin-right: 0;
  }
}

.card {
  height: 385px;
  .card-image {
    .card-title {
      font-size: 14px;
      color: #000000;
      font-weight: bold;
    }
  }
  .card-content {
    p {
      font-size: 12px;
    }
  }
}
